<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="defaultConnection"
            connectionString="Data Source=DESKTOP-VM76VI3\SQLEXPRESS;Initial Catalog=Staff;Persist Security Info=True;User ID={0};Password={1}"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>